body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.main {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.contect {
    padding: 20px;
}

.createlst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.createlst input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn button:hover {
    background-color: #45a049;
}

.lsts {
    list-style-type: none;
    padding: 0;
}

.lsts li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lsts li:last-child {
    margin-bottom: 0;
}

.lsts li button {
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.lsts li button:hover {
    background-color: #cc0000;
}
